<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
    <link href="/css/Register.css" rel="stylesheet"></link>
</head>
<body>
    <div class="signup-container">
        <form th:action="@{/register}" th:object="${register}" th:method="post" class="signup-form">
            <h2>Sign Up</h2>
            <div class="input-group">
                <input type="text" name="firstName" placeholder="First Name" required>
            </div>
            <div class="input-group">
                <input type="text" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="input-group">
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="text" name="mobileNumber" placeholder="Mobile Number" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="submit-btn">Sign Up</button>
            <p class="login-link">Already Registered? <a th:href="@{/login}">Login Here</a></p>
        </form>
    </div>
</body>
</html>
