<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="/css/Services.css" rel="stylesheet"></link>
</head>
<body>
	<nav>
		<div class="container">
			<span>FixMyHome</span>
			<ul>
				<li><a th:href="@{/home}">Home</a></li>
				<li><a th:href="@{/services}">Services</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	
	<section>
		<div class="electrical">
			<div class="washing-machine">
				<span><strong>Washing Machine</strong></span>
				<img src="https://storage.beko.co.uk/blomberg2018products/large/Blomberg_WashingMachine_LWF411452AW_White_AngledClosed.jpg" width="150px" height="100px">
				<button type="submit">Add Service</button>
			</div>
			
			<div class="refrigerator">
				<span><strong>Refrigerator Service</strong></span>
				<img src="https://i5.walmartimages.com/asr/7f41d683-19fe-420a-8ee5-fa7a34e40ce4_3.f38460c471a1e499a1762462d318fc8a.png" width="100px" height="100px">
				<button type="submit">Add Service</button>
			</div>
			
			<div class="ac-service">
				<span><strong>Air Conditioner Service</strong></span>
				<img src="https://pngimg.com/uploads/air_conditioner/air_conditioner_PNG33.png">
				<button type="submit">Add Service</button>
			</div>
			
			
		</div>
	</section>
	
	
	<section>
		<div class="plumbering">
			<div class="water leakage problem">
				<span><strong>Water leakage problem</strong></span>
				<img src="images/water_leakage.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
			
			<div class="refrigerator">
				<span><strong>Water Heater Services</strong></span>
				<img src="images/washing_machine.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
			
			<div class="washing-machine">
				<span><strong>Pipe Repairs & Replacements</strong></span>
				<img src="images/washing_machine.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
		</div>
	</section>
	
	
	<section>
		<div class="plumbering">
			<div class="water leakage problem">
				<span><strong>Water leakage problem</strong></span>
				<img src="images/water_leakage.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
			
			<div class="refrigerator">
				<span><strong>Water Heater Services</strong></span>
				<img src="images/washing_machine.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
			
			<div class="washing-machine">
				<span><strong>Pipe Repairs & Replacements</strong></span>
				<img src="images/washing_machine.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
		</div>
	</section>
	
	<section>
		<div class="cleaning">
			<div class="deep-cleaning">
				<span><strong>Deep Cleaning</strong></span>
				<img src="images/water_leakage.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
			
			<div class="kitchen-cleaning">
				<span><strong>Kitchen Cleaning</strong></span>
				<img src="images/washing_machine.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
			
			<div class="bathroom-cleaning">
				<span><strong>Bathroom Cleaning</strong></span>
				<img src="images/washing_machine.jpg">
				<button type="submit">Know More About It</button>
				<button type="submit">Add Service</button>
			</div>
		</div>
	</section>
	
	
	
	
	<footer>
		<span>FixMyHome CopyRight@2024</span>
	</footer>
</body>
</html>