<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
<link href="/css/Login.css" rel="stylesheet">
</head>
<body>
	<div class="login-container">
			<form th:action="@{/setPassword}" th:method="post" th:object="${passwordForm}" class="login-form">
			<strong>Enter New Password</strong>
			<div class="input-group">
				<input type="text" name="password" placeholder="Password"></input>
			</div>
			<div class="input-group">
				<input type="hidden" name="email"></input>
			</div>
			<div th:if="${message}" style="text-align: center; color: green; margin: 10px 0;">
    				<span th:text="${message}"></span>
			</div>
			<button type="submit" class="submit-btn">Change Password</button>
		</form>
	</div>
</body>
</html>